# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# undo-tree
*.~undo-tree~
/sample
Cargo.lock
**/.ragit
**/*.rs.bak

__pycache__
target
ragit-server-logs*
tests/result.json
crates/server/*.json
*.diff
crates/server/**/blobs/
/.env

# Temporary files
#diff.txt#
#patch.txt#
.#diff.txt
.#patch.txt
diff.txt
patch.txt
t_models'
.secrets
/tmp_bootstrap/
*~
commit_message.txt
temp_commit_message.txt
#*#
index.log
/tmp/
